{{ define "content" }}
            <div class="ui container howtoplay-container">
                <h1 class="ui centered header">My account</h1>
                <h3 class="ui centered header" style="color: #e36248; margin: 0">Account verification status: {{ if .Verified }}<span class="verified-yes" style="color: royalblue">Verified</span>{{ else }}<span class="verified-no" style="color: bisque">Not verified</span>{{ end }}
                </h3>
                <h3 class="ui centered header" style="color: #e36248; margin: 0">Email address: {{ if .Email }}<span class="current-email" style="color: royalblue">{{ .Email }}</span>{{ else }}<span style="color: bisque">None</span>{{ end }}
                </h3>
                <h3 class="ui centered header" style="color: #e3f83d; margin: 0">Discord integration: {{ if .DiscordUsername }}<span style="color: royalblue">{{ .DiscordUsername }}<span>#</span>{{ .DiscordDiscriminator }}{{ if .Local }}
                        <a href="/revoke-discord">- Click here to unlink your Discord account</a>
                        {{ end }}
                    </span>{{ else }}<span style="color: bisque">None 
                        <a href="/discord-login" style="color: orange; text-decoration: underline">- Click here to link your Discord account</a>
                    </span>{{ end }}
                </h3>
                <h3 class="ui centered header" style="color: #e3f83d; margin: 0">Github integration: {{ if .GithubUsername }}<span style="color: royalblue">{{ .GithubUsername }}{{ if .Local }}
                        <a href="/revoke-github">- Click here to unlink your Github account</a>
                        {{ end }}
                    </span>{{ else }}<span style="color: bisque">None 
                        <a href="/github-login" style="color: orange; text-decoration: underline">- Click here to link your Github account</a>
                    </span>{{ end }}
                </h3>
                {{ if (ne .Email "") }}{{ if not .Verified }}
                <button id="request-verification" class="ui primary button" style="display: block; margin: 5px auto 0;">Request a new verification email</button>
                {{ end }}{{ if (eq .DiscordUsername "") and (eq .GithubUsername "") }}
                <button id="change-email" class="ui primary button" style="display: block; margin: 5px auto 0;">Change your email address</button>
                {{ end }}{{ else }}{{ if (eq .DiscordUsername "") and (eq .GithubUsername "") }}
                <button id="add-email" class="ui primary button" style="display: block; margin: 5px auto 0;">Add an email address and send verification email</button>
                {{ end }}{{ end }}{{ if (eq .DiscordUsername "") and (eq .GithubUsername "") }}
                <button id="change-password" class="ui primary button" style="display: block; margin: 5px auto 0;">Change your password</button>
                {{ end }}
                <button id="delete-account" class="ui primay button" style="display: block; margin: 5px auto 0; background: red; color: white">Delete your account</button>
            </div>
            <section class="passwordchange-modal ui modal small segment column">
                <h2 class="header">Change your password</h2>
                <form class="ui form">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="passwordchange-password" placeholder="New password" type="password"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="passwordchange-confirmpassword" placeholder="Confirm new password" type="password"/>
                        </div>
                    </div>
                    <button class="ui primary button fluid large" id="passwordchange-submit">Submit</button>
                    <div class="ui dimmer inverted">
                        <div class="ui text loader">Changing your password..</div>
                    </div>
                    <div class="ui negative hidden message"></div>
                    <div class="ui hidden message">Successfully changed your password!</div>
                </form>
            </section>
            <section class="emailadd-modal ui modal small segment column">
                <h2 class="header">Add an email address for account <span id="emailadd-account-name">{{ .Username }}</span>
                </h2>
                <form class="ui form">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="emailadd-email" placeholder="Email"/>
                        </div>
                    </div>
                    <button class="ui primary button fluid large" id="emailadd-submit">Submit</button>
                    <div class="ui dimmer inverted">
                        <div class="ui text loader">Adding your email and sending a verification email..</div>
                    </div>
                    <div class="ui negative hidden message"></div>
                    <div class="ui hidden message">Successfully added an email, please check it for your verification link.</div>
                </form>
            </section>
            <section class="requestemail-modal ui modal small segment column">
                <h2 class="header">Email sent!</h2>
                <p>Please check your email to verify your account.</p>
            </section>
            <section class="deleteaccount-modal ui modal small segment column">
                <h2 class="header">Delete account <span id="delete-account-name">{{ .Username }}</span>
                </h2>
                <div class="ui warning message">This cannot be undone.</div>
                <form class="ui form">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="deleteaccount-password" placeholder="Your current password" type="password"/>
                        </div>
                    </div>
                    <button class="ui primary button fluid large" id="deleteaccount-submit">Submit</button>
                    <div class="ui dimmer inverted">
                        <div class="ui text loader">Deleting your account..</div>
                    </div>
                    <div class="ui negative hidden message"></div>
                    <div class="ui hidden message">Successfully deleted your account</div>
                </form>
            </section>
{{ end }}